@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  
  --bg-color: #F5ECE4;
  --primary-color: #734425;
  --secondary-color: #C26819;
  --black: #2E2E2E;
  --heading-font: "Outfit", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-bp4: 400px;
  --breakpoint-bp5: 500px;
  --breakpoint-bp6: 600px;
  --breakpoint-bp7: 700px;
  --breakpoint-bp8: 800px;
  --breakpoint-bp9: 900px;
  --breakpoint-bp10: 1000px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

body {
  /* background: var(--background); */
  background: black;
  /* color: var(--foreground); */
  color: white;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "DM Sans", sans-serif;
  max-width: 1440px;
  /* width: 100vw; */
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.disable_scroll {
  overflow-y: hidden !important;
}

.enable_scroll {
  overflow-y: auto;
}

.btn {
  /* bg-[#C26819] rounded-[50px] px-5 py-2 */
  background-color: var(--secondary-color);
  border-radius: 50px;
  padding: 8px 20px;
  color: var(--bg-color);
}
